{%- liquid
  assign currencies = localization.available_countries | map: 'currency' | map: 'iso_code' | uniq
  assign show_currencies = false
  if currencies.size > 1
    assign show_currencies = true
  endif
-%}
<div class="disclosure">
  <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="{{ localPosition }}-country-results">
    <span>{{- localization.country.name }} | {{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol -}}</span>
    {{ 'icon-caret.svg' | inline_asset_content }}
  </button>
  <div class="disclosure__list-wrapper" hidden>
    <ul role="list" class="disclosure__list list-unstyled" id="{{ localPosition }}-country-results">
      {%- for country in localization.available_countries -%}
        <li class="disclosure__item" tabindex="-1">
          <a class="link link--text disclosure__link caption-large focus-inset" href="#" {% if country.iso_code == localization.country.iso_code %}aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
            <span>{{- country.name }}</span>
            <span class="localization-form__currency{% unless show_currencies %} hidden{% endunless %}">{{ country.currency.iso_code }} {{ country.currency.symbol -}}</span>
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</div>
<input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">